html, body {
  height: 100%;
  width: 100%;
      font-family: 'Lucida Handwriting', cursive;
    background-color: #caf0fe;
    text-align: center;
}

img {
    width: 400px;
}

                                       